{% extends "layouts/base.njk" %}

{% block content %}
  <form class="form" action="/your-name" method="post">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="vouchee-name">
          Your full name
        </label>
      </h1>
      <input class="govuk-input govuk-!-width-two-thirds" id="vouchee-name" name="vouchee-name" type="text">
    </div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
{% endblock %}