{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'Identity reuse proof of concept' %}
{% set serviceName = 'GOV.UK account' %}

{% block content %}
<h1 class="govuk-heading-xl">{{ pageTitleName }}</h1>

  <h2 class="govuk-heading-m">Journeys</h2>

  {{ govukButton({
      text: "Ask someone to vouch for you",
      href: "/"
  }) }}

  {{ govukButton({
      text: "Vouch for someone else",
      href: "/"
  }) }}


  <h2 class="govuk-heading-m">Pages</h2>
  <h3 class="govuk-heading-s">Account</h2>
  <ul>
    <li><a href="/account" class="govuk-link">GOV.UK Account</a></li>
  </ul>
  <h3 class="govuk-heading-s">Initiating a vouch</h2>
  <ul>
    <li><a href="/" class="govuk-link">TODO</a></li>
  </ul>
  <h3 class="govuk-heading-s">Vouching for someone</h2>
  <ul>
    <li><a href="/" class="govuk-link">TODO</a></li>
  </ul>

  <h3 class="govuk-heading-s">Logout</h2>

  {{ govukButton({
      text: "Clear app session",
      href: "/login/clear-session"
  }) }}

  <p class="govuk-body">To log out of the prototype you need to sign out of both Auth and the ESS Broker.</p>
  <div>
  {{ govukButton({
      text: "Sign out from Auth (opens in new tab)",
      href: "/login/logout-auth",
      attributes: {"target": "_blank"}
  }) }}
  </div>

  <div>
  {{ govukButton({
      text: "Sign out from ESS broker (opens in new tab)",
      href: "/login/logout-ess",
      attributes: {"target": "_blank"}
  }) }}
  </div>
{% endblock %}
