{% extends "layouts/base.njk" %}

{% block content %}
<form class="form" action="/vouch/vouch-for-someone/confirm-details" method="post">
  <h1 class="govuk-heading-xl">Confirm {{ voucherName }}'s details</h1>
  <p class="govuk-body">Check that {{ voucherName }}'s details are correct.</p>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Full name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ voucherName }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Photo
      </dt>
      <dd class="govuk-summary-list__value">
        <img src="https://thispersondoesnotexist.com/image" alt="Face" width="150" height="150">
      </dd>
    </div>
  </dl>

  <h2 class="govuk-heading-l">Declaration</h2>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      It is against the law to knowingly give false or misleading information.
    </strong>
  </div>
  <p class="govuk-body">I confirm that to the best of my knowledge the information I have provided is correct and complete.</p>
  <p class="govuk-body">I confirm that I have known {{ voucherName }} for at least 2 years. </p>

  <div>
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
  </div>
</form>
{% endblock %}
