{% extends "layouts/base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Your details have been submitted</h1>
  <p class="govuk-body">Thank you for confirming {{ voucherName }}’s identity. </p>
  <p class="govuk-body">We have sent you an email with a copy of your responses.</p>
  <p class="govuk-body">We have sent {{ voucherName }} an email to say you have confirmed their identity.</p>
  <p class="govuk-body">You do not need to take any further action and we will email you if we need to.</p>
  <p class="govuk-body">Digital Identity </br>GOV.UK</p>
{% endblock %}
