{% extends "layouts/email.njk" %}

{% set subjectLine %} {{ voucheeName }} wants you to confirm their identity {% endset %}

{% block emailBody %}
  <p class="govuk-body"><b>{{ voucheeName }} wants you to confirm their identity</b></p>

<p class="govuk-body">{{ voucheeName }} would like to sign in to a government service. Before they can do this, they need to confirm their identity.<br><br>

{{ voucheeName }} would like you to confirm their identity for them. </p>

<p class="govuk-body"><b>What you need to do</b></p>

<p class="govuk-body"> We’ll ask you to:<br>
<ul class="govuk-list govuk-list--bullet">
<li>confirm your identity by entering your passport or driving licence details, or by taking other forms of ID to a Post Office</li>
<li>look at 6 photos and confirm which photo is of {{ voucheeName }}</li>

</ul>

<p class="govuk-body">It should take about 10 minutes. <br><br>

<b>How to do it</b> <br><br>
Go to <a href='/vouch/vouch-for-someone' class="govuk-link">account.gov.uk/vouch</a><br><br>

You have 2 weeks to confirm {{ voucheeName }}’s identity. After 2 weeks this request will expire and you will not be able to confirm their identity.<br><br>

Digital Identity<br><br>
GOV.UK<br><br>
</p>
{% endblock %}
