{% extends "layouts/base.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Please confirm your details</h1>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your full name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ fullName }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/vouch/request-vouch/your-name">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your photo
      </dt>
      <dd class="govuk-summary-list__value">
        <img src={{ imageUrl }} alt="Face" width="150" height="150">
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/vouch/request-vouch/provide-photo">
          Change<span class="govuk-visually-hidden"> photo</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Who is vouching for you
      </dt>
      <dd class="govuk-summary-list__value">
        {{ voucher }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/vouch/request-vouch/voucher-details">
          Change<span class="govuk-visually-hidden"> vouch</span>
        </a>
      </dd>
    </div>
  </dl>
  <form action="/form-handler" method="post" novalidate>
    <input type="hidden" name="answers-checked" value="true">
    <button class="govuk-button" data-module="govuk-button">
      Confirm
    </button>
  </form>
{% endblock %}
