{% extends "layouts/base.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Your details have been submitted</h1>
  <p class="govuk-body">We have sent an email to VoucherName with instructions for how they can confirm your identity.</p>
  <p class="govuk-body">We will send a confirmation email to you once your identity has been confirmed.</p>
  <p class="govuk-body">If VoucherName cannot confirm your identity within 2 weeks, you will need to ask someone else to confirm your identity and <a href="/vouch/request-vouch" class="govuk-link">start again</a>.</p>  
{% endblock %}