{% extends "layouts/base.njk" %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Upload a photo of yourself</h1>
    <form class="form" action="/vouch/request-vouch/provide-photo" method="post">
      <p class="govuk-body">The person you’re asking to vouch for your identity will see this photo and need to confirm that your photo is a true likeness of you.</p>
      <p class="govuk-body">Your photo will go through a basic technical check.</p>
      <p class="govuk-body">Your photo must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be of your head and shoulders</li>
        <li>contain only you and no other objects or people</li>
        <li>be in clear contrast to the background</li>
        <li>not have anything covering your face</li>
        <li>be in colour</li>
        <li>be unaltered by computer software</li>
        <li>be a jpg or jpeg file</li>
        <li>be at least 50KB and no more than 10MB</li>
      </ul>
      <button class="govuk-button" data-module="govuk-button">Choose your photo</button>
    </form>
{% endblock %}
