{% extends "layouts/base.njk" %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <form class="form" action="/vouch/request-vouch/your-name" method="post">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="vouchee-name">
          What is your full name?
        </label>
      </h1>
      <input class="govuk-input govuk-!-width-two-thirds" id="fullName" name="fullName" type="text">
    </div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
{% endblock %}
