{% extends "layouts/base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Your full name</h1>

      <form class="form" action="/vouch/request-vouch/your-name" method="post">

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="vouchee-name">
            Your full name
          </label>
        </h2>
        <input class="govuk-input govuk-!-width-two-thirds" id="vouchee-name" name="vouchee-name" type="text">
      </div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
{% endblock %}